@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Playfair+Display:wght@400;600&display=swap');

#content {
    margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: left;
    }
    
    date {
        text-align: center;
        grid-column: 2/3;
        padding: 0 10px;
        font-style: normal;   
        font-size: .8em;
        font-family: 'Playfair Display', serif;
        margin: auto;
        margin-right: 20px;  
    }
    
    .logo {
        grid-column: 1/2;
        width: 200px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        padding-left: 0;
        margin-top: 0;
    }
    
    li {
        display: none;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    li a {
        text-decoration: none;
        color: orange;
    }
    
    li a:hover {
        color: gray;
    }

    nav li:hover {
        transform: scale(1.2);
        transition: transform .7s ease;
    }
    
    .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    }

    .cards section {
    border: 0px solid navy;
    background-color: lightgray;
    padding: 30px;
    text-align: center;
    width: 200px;
    margin: 5px;
    }

    h2, h1 {
    color: orange;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    }

    h2 {
        margin: 0;
        color: white;
        font-weight: 400;
    }

    p {
    font-size: .8em;
    margin: 5px 0;
    }

    .cards img {
    margin-top: 10px;
    width: 90%;
    border-radius: 5px;
    }

    .cards.list {
        display: block;
    }

    .cards.list section {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
    }

    .cards.list section img {
        width: 20%;
    }

    .cards.list p {
        font-size: .6em;
    }

    #list {
        margin: 0 auto;
        text-align: center;
    }

    ul {
        flex-direction: column;
    }


    nav {
        grid-column: 2/4;
        margin: 30px 0;
    }

    footer {
        margin: auto;
        display: grid;
        grid-template-rows: 70px 70px 70px 70px;
        width: 95%;
        /* position: absolute; */
        line-height: 10px;
        font-size: .8em;
        text-align: center;
        grid-gap: 10px;
        padding-bottom: 20px;
    }
    
    .footer_logo {
        width:200px;
        margin: auto;
        padding-top: 20px;
    }
    
    .map {
        margin: auto;
    }
    
    .footer_info p {
        margin: 5px 0;
        padding: 5px 0;
        font-family: 'Oswald', sans-serif;
    }
    
    .footer_legal p{
        margin: 0 auto;
        padding-top:10px;
    }
    


    @media screen and (min-width: 650px) {

        header {
            grid-template-columns: 50% 50%;
            padding-top: 20px;
            margin: auto;
        }
    
        .logo {
            margin:auto;
        }
    
        date {
            text-align: right;
            margin: auto;
        }

        footer {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 130px 100px;
            font-size: 1em;
        }
    
        .footer_logo {
            grid-column: 1/2;
            margin: auto;
            padding: 0;
        }
    
        .footer_info {
            grid-column: 2/3;
            grid-row: 1/2;
            margin: auto;
        }
    
        .map {
            margin: auto;
            grid-column: 3/4;
        }
    
        
        .footer_legal {
            grid-column: 1/4;
        }
    
    
    }

    @media screen and (min-width: 850px) {

    header {
        width: 960px;
        grid-template-columns: 50% 50%;

    }

    .logo {
        grid-column: 1/2;
        margin-right: 0;
        justify-items: right;
    }

    date {
        grid-column: 2/3;
        padding-left: 37px;
        text-align: left;
        padding-top: 0;
        margin: auto;
        margin-left: 0;
    }

    .ham {
        display: none;
    }

    li {
        display: block;
    }

    ul {
        flex-direction: row;
    }

    nav {
        width: 960px;
        grid-column: 2/4;
        margin: 30px auto;
    }

    .cards {
        width: 960px;
        }

        footer {
            grid-template-columns: 20% 22% 20% 38%;
            grid-template-rows: 1fr;
            max-width: 950px;
            padding-top: 30px;
        }
    
        .footer_info {
            grid-column: 3/4;
        }
    
        .map {
            grid-column: 2/3;
        }
    
        .footer_legal {
            grid-column: 4/5;
            margin: auto;
        }
        
}