@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Playfair+Display:wght@400;600&display=swap');



.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
    grid-gap: 15px;
}

.gallery div {
    width: 100%;
    overflow: hidden;
}

.image {
    height: 250px;
    width: 365px;
    overflow: hidden;
}

img {
    width:auto;
    overflow: hidden;
    object-fit: fill;
}

header {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: left;
}

date {
    text-align: center;
    grid-column: 2/3;
    padding: 0 10px;
    font-style: normal;   
    font-size: .8em;
    font-family: 'Playfair Display', serif;
    margin: auto;
    margin-right: 20px;
    
}

.logo {
    grid-column: 1/2;
    width: 200px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding-left: 0;
    margin-top: 0;
}

li {
    display: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.ham {
    display: block;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: orange;
    text-align: center;
}

.responsive {
    line-height: 1.7em;
    font-size: 16px;
    border: none;
}

.responsive li {
    display: block;
}

nav li:hover {
    transform: scale(1.2);
    transition: transform .7s ease;
}


li a {
    text-decoration: none;
    color: orange;
}

li a:hover {
    color: gray;
}

.gallery img:hover {
    transform: scale(1.04);
    transition: transform .7s ease;
}

.gallery div:hover {
    box-shadow: 0 0 20px gray;
}

/* for Join Page */

label {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Oswald', sans-serif;
}

.membership li {
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

footer {
    display: grid;
    grid-template-rows: 70px 70px 70px 70px;
    width: 95%;
    position: absolute;
    line-height: 10px;
    font-size: .8em;
    text-align: center;
    grid-gap: 10px;
    padding-bottom: 20px;
}

.footer_logo {
    width:200px;
    margin: auto;
    padding-top: 20px;
}

.map {
    margin: auto;
}

.footer_info p {
    margin: 5px 0;
    padding: 5px 0;
    font-family: 'Oswald', sans-serif;
}

.footer_legal p{
    margin: 0 auto;
    padding-top:10px;
}



@media screen and (min-width: 600px) {
   
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 130px 100px;
        font-size: 1em;
    }

    .footer_logo {
        grid-column: 1/2;
        margin: auto;
        padding: 0;
    }

    .footer_info {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
    }

    .map {
        margin: auto;
        grid-column: 3/4;
    }

    
    .footer_legal {
        grid-column: 1/4;
    }
}
@media screen and (min-width: 850px) {

    body {
        width: 950px;
        margin: auto;
    }
    
    main {
        width: 100%;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px;
        grid-gap: 15px;
    }
    
    .ham {
        display: none;
    }
    
    li {
        display: block;
    }
    
    ul {
        flex-direction: row;
    }
    
    nav {
        grid-column: 2/4;
        margin: 30px 0;
    }
    
    footer {
        grid-template-columns: 20% 22% 20% 38%;
        grid-template-rows: 1fr;
        max-width: 950px;
        padding-top: 30px;
    }

    .footer_info {
        grid-column: 3/4;
        font-size: .8em;
    }

    .map {
        grid-column: 2/3;
    }

    .footer_legal {
        grid-column: 4/5;
        margin: auto;
        font-size: .8em;
    }
    
}

